body {
  background-color: rgb(48, 44, 114);
  margin: 0;
  padding: 0;
}
#nav {
  text-align: center;
  background-color: rgb(144, 144, 255);
  min-width: 200px;
  height: auto;
  width: 300px;
}
#nav ul {
  text-align: left;
  margin-left: 25px;
}
#content ul {
  list-style-type: none;
}
#content {
  background-color: rgb(98, 98, 190);
  text-align: center;
  padding: 15px;
}

#content li {
  list-style-type: none;
}
#wrap {
  max-width: 800px;
  display: flex;
  padding: 0px 40px 0px 40px;
}
.copyright {
  padding-left: 300px;
  text-align: center;
}
